/*
* Barracuda Page Style CSS
* by TG Studio
*/

/* Basics */

html {
    font-size: 20px;
}
body {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
img, video {
    width: 100%;
}

.container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.main-color-text {
    color: #017a3d;
}
.main-color-bg {
    background-color: #017a3d;
    color: white;
}
.lightpink-section {
    background-color: #fef4f4;
}
h1, h2, h3 {
    font-weight: 700;
}
h1 {
    font-size: 72px;
    font-size: 3.6rem;
    line-height: 84px;
}
h2 {
    font-size: 36px;
    font-size: 2.6rem;
    margin-top: 36px;
}
.overtitle {
    font-weight: 600;
    color: white;
    font-size: 20px;
    font-size: 1rem;
    padding: 8px 32px;
    padding-bottom: 6px;
    text-transform: uppercase;
    border-radius: 40px;
}
.native-hero {
    padding-bottom: 3vw;
}
.native-title .overtitle {
    background-color: #f46e86;
    margin-bottom: 16px;
}
.native-title {
    position: relative;
    z-index: 15;
}
.hero-partner {
    margin-top: 16px;
    padding-top: 40px;
    padding-left: 8px;
    border-top: 1px solid #017a3d;
    text-transform: uppercase;
}
.hero-partner img {
    width: 180px;
    margin-left: 16px;
    position: relative;
    top: -11px;
    height: auto;
}
.pink-section > img {
    position: absolute;
    width: 140vw;
    max-width: 140vw;
    left: -22vw;
    top: -35vw;
    z-index: 5;
}
.pink-section .container {
    z-index: 10;
}
.pink-section {
    background-color: #f46e86;
    color: white;
    padding: 24px;
    position: relative;
    z-index: 7;
    top: -3vw;
    margin-bottom: -4vw;
}
.pink-bg {
    background-color: #f46e86;
    color: white;
}
.pink-section .overtitle {
    background-color: #ff809b;
}
.pink-section .container {
    padding-left: 10%;
}
.pink-section-content {
    background-color: #e8627f;
    border-radius: 100px;
    height: auto;
    padding-left: 30%;
    padding-right: 5%;
    padding-top: 36px;
    padding-bottom: 8px;
}
.pink-section-content .overtitle {
    position: absolute;
    top: -24px;
    left: 30%;
}
.pink-section-content img:first-child {
    position: absolute;
    left: -10%;
    top: -32px;
    width: 40%;
}
.pink-section-content p {
    margin-bottom: 16px;
    padding-left: 32px;
}
.blob-top {
    z-index: 5;
    margin-top: -35vw;
    position: relative;
    bottom: -1px;
}
.blob-top2 {
    z-index: 5;
    margin-top: -32vw;
    margin-bottom: 0vw;
    position: relative;
}
.blob-bottom {
    margin-bottom: -14vw;
    position: relative;
    z-index: 5;
}
.after-blob {
    z-index: 4;
    padding-top: 9vw;
    padding-bottom: 9vw;
}
.column-left-pad {
    padding-left: 48px;
}
.game-segment {
    z-index: 10;
    margin-top: -7vw;
}
.flip-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.supermia2 {
    width: 80%;
    position: relative;
    margin-top: -30%;
}
.after-blob .container:first-child {
    padding-bottom: 0px;
}
.classic-padding {
    padding: 16px;
}
.facts {
    border-radius: 30px;
    color: #111111;
}
iframe.videogame {
    width: 540px;
    height: 720px;
    border-radius: 24px;
    border-bottom-right-radius: 72px;
    position: relative;
    z-index: 10;
    margin-bottom: 48px;
}
.linepointer2 {
    position: absolute;
    width: 250px;
    right: -32px;
    bottom: -164px;
}
.linepointer3 {
    position: absolute;
    width: 300px;
    right: 36px;
    bottom: 170px;
}
.darkwave {
    position: absolute;
    max-width: 102%;
    width: 102%;
    left: -1%;
    top: 20%;
}
.articles-container {
    z-index: 10;
    margin-top: -5vw;
}
.article {
    padding: 16px;
}
.native-signature {
    padding-top: 5vw;
}
.article h3 {
    font-size: 30px;
    margin-top: 6px;
}
.article .cta{
    font-size: 14px;
    opacity: .5;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.article:hover .cta {
    opacity: 1;
}
.grawe {
    width: 50%;
    max-width: 300px;
}
.bottomad {
    margin-top: 64px;
}
.bottomad a {
    text-decoration: underline;
}

/* Infographic components */

.desktop-infographic-1 {
    padding-top: 12vw;
}
.desktop-infographic-2 {
    padding-bottom: 10vw;
}
.desktop-infographic-3 {
    margin-bottom: -3vw;
    margin-top: -5vw;
}
.desktop-infographic-4 {
    padding-top: 12vw;
}
.desktop-infographic-5 {
    padding-top: 6vw;
    margin-bottom: -1vw;
}
.lightpink-blob-top {
    position: absolute;
    bottom: -1px;
    left: 0;
}
.mobile-infographic {
    margin-bottom: -15vw;
}

/* Footer */

.native-signature {
    padding-bottom: 50px;
}
.native-signature .container {
    min-height: 120px;
    padding: 0px 50px;
}
.native-signature .tg-studio {
    width: 70px;
    height: 90px;
    object-fit: contain;
}
.native-signature img {
    margin: 30px
}
.native-signature .container p {
    padding: 10px;
    opacity: .7;
    font-weight: 500;
}

@media screen and (max-width: 1023px) {
    h1 {
        font-size: 12vw;
        line-height: 13vw;
    }
    h2 {
        font-size: 36px;
        font-size: 1.8rem;
    }
    .native-title .overtitle {
        font-size: 14px;
        font-size: 0.7rem;
        padding: 4px 16px;
        padding-bottom: 3px;
    }
    .hero-partner span {
        width: 100%;
        display: inline-block;
    }
    .hero-partner img {
        margin-left: 0px;
        top: 0px;
    }
    .native-visual img {
        margin-bottom: -20vw;
    }
    .ruka-send-up img {
        margin-bottom: 0px;
    }
    .darkwave {
        top: auto;
        bottom: 70vw;
    }
    .supermia2 {
        width: 100%;
    }
    .pink-section {
        padding: 0px;
    }
    .pink-section .container {
        padding-left: 24px;
    }
    .pink-section-content {
        padding: 24px;
        height: auto;
        padding-left: 0px;
        border-radius: 50px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
    .pink-section-content img:first-child {
        position: relative;
        top: -10vw;
        left: auto;
        width: 70%;
    }
    .pink-section-content .overtitle {
        position: relative;
        left: 0px;
        top: 0px;
    }
    .article {
        padding: 0px;
        margin-bottom: 48px;
    }
    .article h3 {
        margin-bottom: 8px;
        font-size: 24px;
    }
    .blob-top-mobile {
        margin-top: -15vw;
    }
}
@media screen and (max-height: 720px) {
    iframe.videogame {
        width: 360px;
        height: 480px;
    }
}

@media screen and (max-width: 600px) {
    .videogame-container {
        padding: 5vw;
    }
    iframe.videogame {
        width: 100%;
        height: 120vw;
    }
}