/*
* Moje Mjesto Style CSS
* by TG Studio Marijan
*/

/* Basics */

html {
    scroll-behavior: smooth;
}
body {
    font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    background-color: #212121;
    color: #eee;
}
img, video {
    width: 100%;
}
/* Style */

.native-hero {
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom left;
    padding: 256px 336px;
    height: 100vh;
}
.native-hero::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
h1 {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 900;
    line-height: 1.2em;
    z-index: 5;
    position: relative;
    font-size: 6vw;
    text-transform: uppercase;
    margin-bottom: 0px;
}
h2 {
    font-size: 54px;
    margin-bottom: 32px;
}
.native-title div:nth-child(1) {
    padding-right: 128px;
}
.native-title div:nth-child(2) {
    padding-left: 128px;
}
nav a {
    font-size: 24px;
    margin: 8px 0px;
}

.hero-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    padding: 128px 48px;
    z-index: 10;
    border-right: 1px solid rgba(255,255,255,0.25);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
.hero-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 240px;
    z-index: 7;
    padding: 128px 48px;
    border-left: 1px solid rgba(255,255,255,0.25);
}
.hero-left .hero-logo {
    position: absolute;
    top: 48px;
    left: 48px;
    width: 200px;
    height: auto;
}
.hero-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    padding: 16px;
    padding-left: 360px;
    padding-right: 280px;
    z-index: 5;
    justify-content: flex-end;
}
p {
    font-size: 40px;
    font-size: 2rem;
    line-height: 1.3em;
}
.episode {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    padding-left: 352px;
}
.episode > * {
    z-index: 5;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.episode-overlay::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
.episode h2 {
    position: relative;
    z-index: 5;
    padding-left: 32px;
}
.sugovornik-episode {
    color: #ae3737;
    margin-top: 16px;
}
/*/sugovornici {
    flex-wrap: nowrap;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
}*/
.sugovornici {
    padding-left: 32px;
}
.sugovornici p {
    font-size: 23px;
    opacity: .7;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.25);
}
h3 {
    font-size: 46px;
}
.extra-content h3 {
    font-size: 36px;
}
.sugovornici .third, .sugovornici .fourth {
    padding: 32px;
    scroll-snap-align: start;
    position: relative;
    z-index: 5;
}
.insite-btn {
    padding: 8px 48px;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #eee;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
}
.episode > .half {
    padding: 64px;
    height: 100%;
    min-height: 100vh;
}
.episode .episode-title {
    font-size: 72px;
    font-weight: 900;
    padding-left: 0px;
}
.episode-description {
    font-size: 24px;
    margin-top: 32px;
}
#o-projektu h2, #procitajte-vise h2 {
    padding-left: 64px;
    margin-top: 64px;
}
#procitajte-vise, .native-signature {
    background-color: #333333;
}
.episode .half:first-of-type {
    border-right: 1px solid rgba(255,255,255,0.25);
}

/* Old stuff */

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
} 
.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.article {
    padding: 32px 8px;
    margin-bottom: 24px;
}
.article-text {
    padding-left: 24px;
}
.article-image {
    padding-right: 24px;
}
.article-title {
    font-size: 48px;
    margin-bottom: 16px;
}
.article-description {
    font-size: 24px;
    margin-bottom: 48px;
}
.article:nth-child(2n) .article-image {
    padding-left: 24px;
    padding-right: 0px;
    order: 2;
}
.article:nth-child(2n) .article-text {
    order: 1;
    padding-left: 0px;
    padding-right: 24px;
    text-align: right;
}
#applications label {
    font-weight: 700;
    margin-bottom: 16px;
}
#applications input, #applications textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    font-size: 24px;
    padding: 8px;
    margin-bottom: 48px;
    font-weight: 300;
}
#applications textarea {
    height: 150px;
}
.smaller-text {
    font-size: 16px;
    opacity: .6;
}
#error-msg {
    color: #ae3737;
    margin-top: 16px;
}
#applications input[type="checkbox"] {
    margin-right: 8px;
    position: relative;
    bottom: -1.5px;
}
label a {
    text-decoration: underline;
}
#procitajte-vise .sugovornici .third img {
    height: 300px;
    object-fit: cover;
    margin-bottom: 16px;
}

/* Footer */

footer {
    padding-left: 320px;
    padding-right: 320px;
}
.native-signature {
    padding-bottom: 50px;
}
.native-signature .container {
    min-height: 120px;
    padding: 0px 50px;
}
.native-signature img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 30px
}
.native-signature .container p {
    padding: 10px;
    opacity: .7;
    font-weight: 500;
}
footer .center {
    flex-wrap: wrap;
}

.header-btn {
    position: absolute;
    bottom: 30vw;
    left: 6vw;
    z-index: 10;
}
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20vw;
    background-color: #121212;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.25);
}
.mobile-nav a.fourth {
    margin: 0px;
    font-size: 16px;
    height: 20vw;
    padding: 4px;
    flex-wrap: wrap;
}
.mobile-nav a.fourth span {
    width: 100%;
    text-align: center;
    opacity: .5;
}
.project-intro {
    font-size: 24px;
    padding-left: 64px;
    max-width: 1024px;
    margin-bottom: 24px;
}
.mobile-nav img {
    margin: 0 auto;
    width: 10vw;
    margin-bottom: 2px;
}
.jaguar-logo {
    margin-top: 48px;
}
.hero-right img {
    max-height: 13vh;
    object-fit: contain;
    object-position: center center;
}
.extra-content {
    flex-wrap: nowrap;
    overflow-x: scroll;
    display: flex;
}
.extra-content .third {
    scroll-snap-align: start;
    width: 25vw;
    min-width: 25vw;
}

@media screen and (max-width: 1279px) {
    .hero-left, .hero-right, .hero-top {
        display: none;
    }
    .native-hero {
        padding: 26vw 6vw;
        padding-bottom: 44vw;
    }
    h1 {
        font-size: 15vw;
    }
    .native-title div:nth-child(1) {
        padding-right: 0px;
    }
    .native-title div:nth-child(2) {
        padding-left: 0px;
    }
    .insite-btn {
        padding: 6px 32px;
        padding-bottom: 5px;
        font-size: 16px;
        margin-top: 16px;
    }
    .mobile-nav {
        display: flex;
    }
    .episode {
        padding-left: 0px;
        padding: 12vw 6vw;
    }
    #o-projektu h2, #procitajte-vise h2 {
        padding-left: 0px;
        margin-top: 0px;
    }
    .episode .episode-title {
        font-size: 15vw;
        line-height: 18vw;
    }
    .sugovornici {
        margin-top: 16px;
        padding-left: 0px;
        padding-bottom: 32px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
    }
    .sugovornici .third, .sugovornici .fourth {
        padding: 0px;
        padding-right: 6vw;
        margin-right: 6vw;
        border-right: 1px solid rgba(255,255,255,0.15);
        scroll-snap-align: start;
        width: 80vw;
        min-width: 80vw;
    }
    .sugovornici .third:last-child {
        border-right: none;
    }
    h3 {
        font-size: 32px;
    }
    .sugovornici p {
        font-size: 20px;
    }
    .episode > .half {
        padding: 0px;
        height: auto;
        min-height: auto;
    }
    .episode .half:first-of-type {
        border-right: none;
    }
    .episode-description {
        border-top: 1px solid rgba(255,255,255,0.25);
        padding-top: 32px;
        margin-top: 0px;
        font-size: 20px;
    }
    .episode-overlay::before {
        background: rgba(0,0,0,0.65);
    }
    .hero-logo {
        width: 40vw;
        position: absolute;
        top: 7vw;
        left: 7vw;
        z-index: 10;
        max-width: 200px;
    }
    .project-intro {
        font-size: 20px;
        padding-left: 0px;
    } 
    footer.native-signature {
        padding: 0px;
        padding-bottom: 25vw;
    }
    .native-signature .container {
        padding: 0px;
    }
    .native-signature img {
        width: 100px;
        height: 100px;
        margin: 3vw;
    }
    .native-signature .container p {
        padding: 6vw;
    }
    #procitajte-vise .sugovornici .third img {
        height: 40vw;
    }
    .extra-content h3 {
        font-size: 26px;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
  